@import 'normalize.css';
@import 'skeleton.css';
* {
  box-sizing: border-box;
}
.content-group {
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 1px solid rgb(221, 221, 221);
}
.text-center {
  text-align: center;
}
